<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>后台管理网站登录页面</title>
</head>
<body>


        <div>
            <tr>
                <td>

                    <label th:text="用户名"></label>
                    <input type="text" name="tel" class="form-control input-xlarge" placeholder="请输入用户名"/>
                </td>
                <td>

                    <label th:text="密码"></label>
                    <input type="text" name="tel" class="form-control input-xlarge" placeholder="请输入用户名密码"/>
                </td>

            </tr>



        </div>




        <a href="login.html">登录</a>
</body>
</html>